{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://api.brevo.com/v3/contacts",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"email\":\"test_vcr_contact@example.com\",\"attributes\":{\"FIRSTNAME\":\"Test\",\"LASTNAME\":\"User\"},\"listIds\":[]}"
        },
        "headers": {
          "Api-Key": [
            "<BREVO_API_KEY>"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 201,
          "message": "Created"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Sib-Request-Id": [
            "830eab3b-53f5-985d-8e39-daf23117dac8"
          ],
          "X-Sib-Ratelimit-Limit": [
            "20"
          ],
          "X-Sib-Ratelimit-Remaining": [
            "19"
          ],
          "X-Sib-Ratelimit-Reset": [
            "1"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"id\":50}"
        }
      },
      "recorded_at": "Thu, 09 Oct 2025 19:21:18 GMT"
    }
  ],
  "recorded_with": "VCR 6.3.1"
}