{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://api.brevo.com/v3/products/batch",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"products\":[{\"id\":\"test_product_vcr_123\",\"name\":\"Test Product VCR\",\"url\":\"https://example.com/product\",\"price\":99.99,\"categories\":[\"1\"]}],\"updateEnabled\":true}"
        },
        "headers": {
          "Api-Key": [
            "<BREVO_API_KEY>"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 201,
          "message": "Created"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Etag": [
            "W/\"23-Wy+5HeZIh1tijJ8vAl8xS/LbxfA\""
          ],
          "Sib-Request-Id": [
            "8659aa89-8e58-9ced-bd6d-0e2a300457bf"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"createdCount\":1,\"updatedCount\":0}"
        }
      },
      "recorded_at": "Thu, 09 Oct 2025 19:21:26 GMT"
    }
  ],
  "recorded_with": "VCR 6.3.1"
}