{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://api.brevo.com/v3/categories/batch",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"categories\":[{\"id\":\"test_category_a3c91bfe\",\"name\":\"Test Category\",\"url\":\"https://example.com/category\"}],\"updateEnabled\":true}"
        },
        "headers": {
          "Api-Key": [
            "<BREVO_API_KEY>"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 201,
          "message": "Created"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Etag": [
            "W/\"23-Wy+5HeZIh1tijJ8vAl8xS/LbxfA\""
          ],
          "Sib-Request-Id": [
            "9090d36b-30a5-9004-a39a-b3e9e31f77af"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"createdCount\":1,\"updatedCount\":0}"
        }
      },
      "recorded_at": "Thu, 09 Oct 2025 19:23:16 GMT"
    }
  ],
  "recorded_with": "VCR 6.3.1"
}