{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.brevo.com/v3/contacts/folders/123",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Api-Key": [
            "<BREVO_API_KEY>"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Sib-Request-Id": [
            "98584aed-cc6e-92f9-a051-423960bad359"
          ],
          "X-Sib-Ratelimit-Limit": [
            "20"
          ],
          "X-Sib-Ratelimit-Remaining": [
            "19"
          ],
          "X-Sib-Ratelimit-Reset": [
            "1"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "base64_string": "eyJjb2RlIjoiZG9jdW1lbnRfbm90X2ZvdW5kIiwibWVzc2FnZSI6IkZvbGRl\nciBJRCBkb2VzIG5vdCBleGlzdCJ9Cg==\n"
        }
      },
      "recorded_at": "Thu, 09 Oct 2025 19:40:30 GMT"
    }
  ],
  "recorded_with": "VCR 6.3.1"
}