{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.brevo.com/v3/contacts/lists",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Api-Key": [
            "<BREVO_API_KEY>"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 401,
          "message": "Unauthorized"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Sib-Request-Id": [
            "f55166e2-4086-9989-a6ef-ec50fbc6e181"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"message\":\"Key not found\",\"code\":\"unauthorized\"}\n"
        }
      },
      "recorded_at": "Thu, 09 Oct 2025 19:40:28 GMT"
    }
  ],
  "recorded_with": "VCR 6.3.1"
}