{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://api.brevo.com/v3/orders/status/batch",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"orders\":[{\"id\":\"test_order_vcr_123\",\"createdAt\":\"2025-01-01T12:00:00Z\",\"updatedAt\":\"2025-01-01T12:00:00Z\",\"status\":\"pending\",\"amount\":99.99,\"identifiers\":{\"email_id\":\"test@example.com\"},\"products\":[{\"productId\":\"1\",\"quantity\":1,\"price\":99.99}]}],\"historical\":true}"
        },
        "headers": {
          "Api-Key": [
            "<BREVO_API_KEY>"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 202,
          "message": "Accepted"
        },
        "headers": {
          "Content-Type": [
            "text/plain; charset=utf-8"
          ],
          "Sib-Request-Id": [
            "58966c79-2842-9e74-ba63-8a0f3e8367bd"
          ],
          "X-Sib-Ratelimit-Limit": [
            "100"
          ],
          "X-Sib-Ratelimit-Remaining": [
            "97"
          ],
          "X-Sib-Ratelimit-Reset": [
            "2313"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"batch_id\":25226327}"
        }
      },
      "recorded_at": "Thu, 09 Oct 2025 19:21:28 GMT"
    }
  ],
  "recorded_with": "VCR 6.3.1"
}