{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://api.brevo.com/v3/contacts/folders",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"name\":\"Test Folder VCR\"}"
        },
        "headers": {
          "Api-Key": [
            "<BREVO_API_KEY>"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 201,
          "message": "Created"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Etag": [
            "W/\"9-uaeIWElkfaiCthiVv9oNgwepFy4\""
          ],
          "Sib-Request-Id": [
            "00281866-2362-9c39-bb29-980342c085a2"
          ],
          "X-Sib-Ratelimit-Limit": [
            "20"
          ],
          "X-Sib-Ratelimit-Remaining": [
            "19"
          ],
          "X-Sib-Ratelimit-Reset": [
            "1"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"id\":14}"
        }
      },
      "recorded_at": "Thu, 09 Oct 2025 19:21:25 GMT"
    }
  ],
  "recorded_with": "VCR 6.3.1"
}